In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv',
                 header=None,
                 names=['y', 'text'],
                 dtype={'y': int, 'text': str},
                 low_memory=False,
                 memory_map=True
                )

In [3]:
df.shape

(650000, 2)

In [4]:
df.head()

   y                                               text
0  5  dr. goldberg offers everything i look for in a...
1  2  Unfortunately, the frustration of being Dr. Go...
2  4  Been going to Dr. Goldberg for over 10 years. ...
3  4  Got a letter in the mail last week that said D...
4  1  I don't know what Dr. Goldberg was like before...

In [5]:
yelp_sample_train = df.groupby('y').apply(lambda x: x.sample(n=10000)).reset_index(drop=True).sample(frac=1.0).reset_index(drop=True)

In [6]:
yelp_sample_train.head()

   y                                               text
0  2  With such a highly esteemed name for a restaur...
1  4  I came here on American Thanksgiving. Had a sm...
2  3  I am going to agree with the review of Juddi L...
3  3  Meh.\n\nThese are nice but not spectacular, ho...
4  2  One thing my wife and I try to avoid on date n...

In [7]:
yelp_sample_val = df.groupby('y').apply(lambda x: x.sample(n=2000)).reset_index(drop=True).sample(frac=1.0).reset_index(drop=True)

In [8]:
yelp_sample_val.head()

   y                                               text
0  3  We came here for a Bachelorette Party Dinner -...
1  5  This is a small place that I am surprised was ...
2  2  The car wash was not so good today. I paid for...
3  1  I would NOT recommend this place to anyone!!! ...
4  4  This place is an awesome value for the money. ...

In [9]:
yelp_sample_train.to_csv('yelp_train.csv', index=False)
yelp_sample_val.to_csv('yelp_val.csv', index=False)